body{
  background-color: white;
}
footer{
  background-color: blue;

}
div{
  border: 1px solid black;
  border-radius: 5px;
  text-align: left ;
  color: aliceblue;
  font-family: monospace;
  font-weight: bold;
}

.main{
  min-height: 600px;
  width: auto;
  border: 0;
}
.div_input{
  height: 20px;
}

.menu_1{
  width:40%;
  margin-left:60% ;  
  background-color: green;
}

.conteiner{
  display: flex;
}
.header{
  height: 100px;
  padding: 5px;
  flex-flow: row wrap;
  justify-content: space-between ;
  background-color: pink;
}
.header div{
  margin-bottom: 5px;
}
.logo{
  width:20%;
  margin-left: 5px;
  background-color: blue;
}
.menu_2{
  width:70%;
  background-color: red ;
}

.body_{
  height: 500px;
  flex-flow: row wrap;
  justify-content: space-between ;
  border: 0;

}

.block{
  height: auto;
  margin-bottom: 2.5%;
 
}

.single{
  width: calc(90%/3);
 }

 .double{
  width: calc((97.5%/3)*2);
 }

.nav{
  min-height: 50px ;
  text-align: center;
  border: 4px;
  border-style: solid;
  border-color: red;
  background-color: cadetblue;
}
.nota{
  min-height: 200px ;
  border: 2px;
  border-style: dotted;
  border-color: blue;
}
.nota{
  padding: 20px;
}
h1{
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: xxx-lare;
  ;
}
h2{
  padding-left: 20px;
}
p {
  font-weight: bolder;
}

.image{
  text-align: center;
  width: 50%;
  height: 50%;
}
.foot{
  height: 100px;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center ;
  background-color: cadetblue;
}

.element{
  
  width:40%;
  margin-right: 5px;
  background-color: blue;

}

#left{
  background-color: grey;  
}
#center{
 background-color: cyan; 
}
#right{
  background-color: yellow;
}
#left_2{
  background-color:green; 
}
#right_2{
  background-color: orangered;
}